@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-nds-red: var(--Red, #e90609);
  --color-nds-black: var(--Black, #302929);
  --color-nds-baby-blue: var(--Baby-blue, #c6eaff);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-brockmann: var(--font-brockmann);
}

body {
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer components {
  .container {
    max-width: var(--container-width, 1512px); /* fallback na 1512px */
    margin-left: auto;
    margin-right: auto;
    @apply px-4 sm:px-6 lg:px-13;
  }

  .bg-red-cover {
    background: url("/theme/bg/up.png") 51% / cover no-repeat;
  }

  .text-h1 {
    font-family: Brockmann;
    font-size: 83px;
    font-style: normal;
    font-weight: 700;
    line-height: 87px; /* 104.819% */
    letter-spacing: -0.996px;
  }

  .text-h2 {
    color: var(--Black_BG, #302929);
    font-family: Brockmann;
    font-size: 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 113.208% */
    letter-spacing: -0.397px;
  }

  .text-h4 {
    color: var(--Baby-blue, #c6eaff);

    /* H4 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    letter-spacing: -0.1px;
  }

  .text-small {
    color: var(--Black_BG, #302929);

    /* Small */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px; /* 130.769% */
  }

  @media (max-width: 768px) {
    .text-h1 {
      color: var(--Black_BG, #302929);
      font-family: Brockmann;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 44px; /* 114.286% */
      letter-spacing: -0.84px;
    }

    .text-h2 {
      color: var(--Black_BG, #302929);
      font-family: Brockmann;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px; /* 125% */
      letter-spacing: -0.3px;
    }
  }
}
